.SummaryItem {
	background-color: #EEE;
	border-radius: 0.8em;
	color: #666;
	font-size: 1.25em;
	padding: 0.8em;
	text-align: center;
}

.SummaryItemKeyNumeric {
	font-size: 2.5em;
	font-family: 'Lobster', cursive;
	margin: 0 0.2em;
}

.VisualizationChart {
	box-sizing: border-box;
	height: 16em;
	width: 100%;
}