
 @import url('https://fonts.googleapis.com/css?family=Quicksand|Lobster|Source+Code+Pro');
/*
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lobster|Quicksand|Source+Code+Pro');

font-family: 'Crimson Text', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Source Code Pro', monospace;
*/

.App {
	font-family: 'Quicksand', sans-serif;
}

.Center {
	left: 50%;
	margin-top: 3rem;
	position: absolute;
	transform: translateX(-50%);
}

.Background {
	background-color: #666;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: -100;
}

.Link:hover {
	cursor: pointer;
}
