@media (min-width: 49em) {
	.FdbkContainer {
		width: 45em;
	}

	.FdbkContainer::after {
		width: 24.5em;
	}
}

@media (min-width: 29em) and (max-width: 49em) {
	.FdbkContainer {
		width: 25em;
		width: calc(100vw - 4em);
	}

	.FdbkContainer::after {
		width: 14.5em;
		width: calc(100vw - 0);
	}
}

@media (max-width: 29em) {
	.FdbkContainer {
		font-size: 3.4483vw;
		width: 25em;
	}

	.FdbkContainer::after {
		width: 14.5em;
	}
}

.FdbkContainer {
	border-radius: 1em;
	background-color: #CCC;
	color: #333;
	margin: 2.5em 1em 3.5em;
	padding: 1em;
	overflow: hidden;
}

.FdbkContainerFooter {
	background-color: #800080;
	box-sizing: border-box;
	color: #CCC;
	display: block;
	font-family: 'Lobster', cursive;
	font-size: 2em;
	margin: 1.5em -1em -1em;
	padding: .333em 0 1em;
	text-align: center;
	user-select: none;
}

.FdbkContainer .Code {
	background-color: #666;
	border-radius: 1em;
	color: #CCC;
	font-family: 'Source Code Pro', monospace;
	font-size: 0.75em;
	padding: 1em;
	white-space: pre-wrap;
}

.FdbkContainerHighlight {
	background-color: #EEE;
	color: #666;
	font-size: 1.25em;
	margin: .5em -2em;
	padding: 0.8em;
	text-align: center;
}

.FdbkContainerHighlight.DarkHighlight {
	background-color: #444;
	color: #EEE;
}

.FdbkContainerHighlightKeyNumeric {
	font-size: 2.5em;
	font-family: 'Lobster', cursive;
	margin: 0 0.2em;
}

.FdbkContainerHighlightTitle {
	font-size: 1.5em;
	font-family: 'Lobster', cursive;
}

.CSStatus .Icon {
	float: left;
	font-size: 5em;
	margin-right: 0.25em;
}

.CSStatus h1, .CSStatus p {
	overflow: auto;
}
