@media (min-width: 49em) {
	.NavBar li {
		display: inline-block;
	}
}

@media (max-width: 49em) {
	.NavBar {
		text-align: center;
	}
	.NavBar li {
		display: block;
	}
}

.NavBar {
	background: #333;
	color: #eee;
	font-size: 1.5rem;
	max-height: 2em;
	margin: 0;
	overflow: hidden;
	top: 0;
	transition: all 333ms;
	z-index: 100;
}

.NavBar.Open {
	max-height: 100em;
}

.NavBar ul {
	margin: 0;
	padding: 0;
}

.NavBar li {
	height: 2em;
	line-height: 2em;
	margin: 0;
	padding: 0 0.75em;
	transition: all 250ms;
}

.NavBar li.Target:hover {
	background: #444;
}

.NavBar li.Title {
	padding: 0 1.5em;
}

.NavBar li.Title:hover {
	color: #808;
}
